.footer {
  margin: 50px 170px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 30px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-top-left p {
  font-size: 20px;
  max-width: 400px;
}
.footer-bottom-left {
    padding-top: 20px;
    font-size: 20px;
}
.footer-bottom-right {
    padding-top: 20px;
  display: flex;
  gap: 25px;
}

.footer-bottom-right a img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s;
}

.footer-bottom-right a img:hover {
  transform: scale(1.3);
}

.footer-email-input:hover {
  border: 2px solid white;
}

@media(max-width: 768px) {
  .footer {
    margin: 50px 30px;
  }

  .footer-top {
    flex-direction: column;
    gap: 30px;
  }


  .footer-bottom-right {
    gap: 20px;
  }
  .footer-email-input input {
    width: 100%;
  }

  .footer-email-input {
    flex-direction: column;
    align-items: stretch;
    padding: 20px;
  }

  .footer-subscribe {
    width: 100%;
    text-align: center;
  }
}
